@import "tailwindcss";

/*button {
    margin-left: 5px;
}
.error {
    border: solid;
    border-color: red;
    border-width: 1px;
    border-radius: 3px;
    padding: 5px;
    margin: 10px;
    background-color: rgb(247, 173, 173) ;
    color: red;
    width: 70%;
}

.success {
    border: solid;
    border-color: rgb(0, 90, 21);
    border-width: 1px;
    border-radius: 3px;
    padding: 5px;
    margin: 10px;
    background-color: rgb(160, 252, 164) ;
    color: rgb(1, 112, 25);
    width: 70%;
}

.blog, .blogExp {
    border: solid;
    border-radius: 7px;
    padding: 10px;
    margin: 15px;
    border-width: 1px;

}

.comment {
    border: groove;
    border-radius: 7px;
    border-width: 2px;
    margin: 5px;
}